<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="CairoSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="cef.redist.x64" version="81.2.25" targetFramework="net472" />
  <package id="cef.redist.x86" version="81.2.25" targetFramework="net472" />
  <package id="CefSharp.Common" version="81.2.250-CI3501" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="81.2.250-CI3501" targetFramework="net472" />
  <package id="GdkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GioSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GLibSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GtkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="PangoSharp" version="3.22.25.74" targetFramework="net472" />
</packages>